[user]
	name = Ian Macomber
	email = ian.macomber@swoop.com
[diff]
  submodule = log
[core]
	excludesfile = ~/.gitignore
[alias]
	empty = commit --allow-empty
[fetch]
	prune = true
[include]
	path = /Users/ianmacomber/.gitconfig-swoop
[pull]
	rebase = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
